
@main("about"){
	<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p class="text-right">
					? רוצים לתרום מזון אך לא יודעים למי ואיך לתת<br> 
					?  חברים בארגון חלוקת מזון המעוניין להגדיל ולייעל את איסוף התרומות<br>
					בדיוק בשביל כך אנחנו כאן, המערכת שלנו מאפשרת קישור נוח ויעיל בין תורם לארגון בסביבתו<br>
					אנו נדאג לידע את הארגון המתאים בסוג וכמות המזון וכל שנותר זה לחכות לאיסוף המזון<br>
					</p>
					<br>
					<p class="text-center">
					<a href="http://foodchain.herokuapp.com">חזרה לדף הבית</a>
					</p>
				</div>
		</div>
	</div>
}
