
@main("Foodchain"){
	<div class="row text-center">
		<div class="col-sm-6">
			<div class="thumbnail">
				<img data-src="holder.js/300x200" >
					<div class="caption">
						<h3>תורמים פרטיים</h3>
						<p><a href="donation" class="btn btn-primary" role="button">תרום מזון</a></p>
					</div>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="thumbnail">
				<img data-src="holder.js/300x200">
					<div class="caption">
						<h3>ארגונים</h3>
						<p><a href="donation" class="btn btn-primary" role="button">חפש תרומת מזון</a>
					</div>
			</div>
		</div>
	</div>
}
