@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<!-- shortcut icon view in the browser tab -->
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">
	
    <title>@title</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")"

    <!-- Custom styles for this template -->
    <link href="@routes.Assets.at("stylesheets/bootstrap/starter-template.css")" rel="stylesheet">
  </head>

  <body>
     <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://foodchain.herokuapp.com">
			<img src="@routes.Assets.at("images/site_main_logo.jpg")" alt="FoodChain" class="site_logo">
		  </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">דף הבית</a></li>
            <li><a href="#about">אודות</a></li>
            <li><a href="#contact">צור קשר</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>מפסיקים את הרעב יחד</h1>
        <p class="lead">שיתוף מזון<br><a href="https://github.com/EladYona/FoodChain/wiki">Project Wiki</a></p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.min.js")"></script>
  </body>

</html>
